@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<h4>“In Adelante everyone has a dream, everyone speaks the same language, and everyone is FAMILY” - Sabrina Lloret</h4>
<br />
<br />
<a>
    Our History and Mission Our Louisville community has seen a 122% increase in the Hispanic/Latino population
    over the last decade, and its numbers continue to grow. This diverse Hispanic population contributes to an
    ever evolving, multi-cultural Louisville, significantly impacting our future as a community. As the number
    of Hispanics entering the workforce and attending public schools grows, we must consider the unique challenges the Hispanic
    population is facing. Adelante Hispanic Achievers was created to address such challenges in our city by
    empowering Louisville’s Hispanic youth and helping them succeed in four critical area of development:
    personal, social, cultural, and educational. Adelante was founded in January 2004 by former JCPS school
    board chair Stephen Imhoff and a core of community leaders who shared the belief that with support and
    resources, Louisville’s Hispanic students and their families can have a bright future. Adelante’s mission
    is to inspire Hispanic/Latino youth and families to achieve their dreams and contribute as creative and
    educated world citizens.
</a>
<br/ >