
@{
    ViewBag.Title = "AfterSchoolTutoring";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2 style="text-align:center;">After School Tutoring</h2>
<br/>
<br/>
<p>Students improve academic standing through one-on-one tutoring, math challenges, and character development. Each tutoring program will be capped at 35 students. We will accept students on a first-come-first-served basis. Our program meets Wednesdays and Thursdays.</p>
<br/>
<br/>
<h3>Requirements</h3>
<ol style="line-height:20px; list-style-type:disc;">
    <li>Participants must attend the middle school at which the Adelante program is held and must register for participation with their parents at the annual Adelante Registration at the beginning of each Fall semester.</li>
    <li>Students may also enter by referral at the beginning of the Spring semester provided that they and their parents meet with our Executive Director, commit to participation, and sign our attendance and behavior agreements before their first day.</li>
</ol>
<br/>
<br/>
<h3>Schedule</h3>
<p>Lassiter MS - every Wednesday and Thursday from 2:20-5pm.</p>
<p>Click for<a href="~/pdfs/Lassiter_Wd_Fall_16.pdf"> our fall 2016 Wednesday calendar at Lassiter</a></p>
<p>Click for<a href="~/pdfs/Lassiter_Th_Fall_16.pdf"> our fall 2016 Thursday calendar at Lassiter</a></p>
