
@{
    ViewBag.Title = "Ambassadors";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2 style="text-align:center;">Ambassadors</h2>
<br/>
<br/>
<p>This is our elite leadership opportunity for students 2+ years in Adelante. At the end of each season, Adelante participants at the junior or senior level who have at least one year of full-time participation in our program can apply to be an Ambassador for the following season. </p>
<br/>
<br/>
<h3>Requirements</h3>
<ol style="line-height:20px; list-style-type: disc";>
    <li>Ambassadors must agree to the Leadership Code of Conduct Agreement outlined in this manual, as well as participate in a Summer Ambassador’s Retreat. </li>
    <li>If at any time an Ambassador is failing to live up to his or her agreement, the Executive Director and Ambassadors Program Coordinator may together revoke that student’s standing as Ambassador.</li>
    <li><p>Click here for<a href="~/pdfs/Ambassador Info Sheet Fall 2016.pdf"> our Ambassadors guidelines.</a></p></li>
</ol>