
@{
    ViewBag.Title = "MentoringandEnrichment";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2 style="text-align:center;">Mentoring and Enrichment</h2>
<br/>
<br/>
<p>Saturday presentations, workshops and field trips which provide academic support, life skills development, community service, and career opportunities for students and families.
    The enrollment cap for this program is 65 students. Some of these programs are the College Readiness Program and the College Corps. Spots will be given first to returning students who submitted an Intent-to-Return form the previous year; new students will fill the remaining spots, with special consideration given to students who have siblings in the program. 
    New students must enter the program in middle school by interviewing with staff in August, attending Orientation and Registration in September with their parents, and committing to regular attendance and good behavior.
    Adelante may accept new students throughout the year on an individual basis and with the consensus of the staff.</p>
<br/>
<br/>
<h3>College Readiness</h3>
<p>Study skills, ACT preparation, shadowing opportunities, college visits and summer “bridge” programs. We prepare students for college and careers through intensive individual and group support for juniors and seniors. All Achievers sophomore level and above who participate in our Mentoring & Enrichment program are registered for our CR program.</p>
<br />
<br />
<h3>Requirements</h3>
<ol style="line-height:20px; list-style-type:disc;">
    <li>Students must commit to pursuing academic growth and attending CR events organized by the College Readiness Coach (CRC).</li>
    <li>Each student will have access to ACT prep. </li>
    <li>Each student will also be paired with a College Access Mentor, who is responsible for keeping in touch with that student on a weekly basis, helping with any college-related questions, ensuring that they understand what they must accomplish at each grade level to be “prepared” for college, and building personal relationships. </li>
    <li>Mentors and students together will develop and accomplish a list of goals and tasks that will keep them “college-ready” at their particular age level.</li>
    <li>The mentors will assist the students as needed and provide Adelante staff with periodic updates, supporting each student’s effort to take an active role in his or her own future and success.</li>
</ol>
<br/>
<br/>
<h3>College Corps</h3>
<p>The CR program is also open to any Hispanic student who attends school in Jefferson County at the sophomore level or above, and who registers with our College Readiness Coach (CRC). 
    Students who participate in the CR program but are not in M&E are considered part of our “College Corps.” These students do not receive “wrap-around” services, and may be asked to pay to participate in ACT prep.
    These students do not receive “wrap-around” services, and may be asked to pay to participate in ACT prep.
    All other CR programs are open to them for free. College Corps students in good standing may reserve a spot in M&E for the following academic year.
    Students who apply to be in M&E but are denied because we’ve reached the population limit may also be in the College Corps.</p>
<br/>
<br/>
<h3>Schedule</h3>
<p>Click for<a href="~/pdfs/2016 Fall Saturday Student Calendar.pdf"> our fall 2016 student calendar</a></p>
<br />
<br />
<h3>Location</h3>
<p>Every Saturday at Buechel United Methodist Church/ 2817 Hikes Lane, Louisville, KY  40218.</p>






 



