
@{
    ViewBag.Title = "ParentInvolvement";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2 style="text-align:center">Parent Involvement</h2>
<br/>
<br/>
<p>All programs include Parent Involvement: workshops, presentations, and individual support. Here are some of the Saturday activities our students enjoy:</p>
<br/>
<br/>
<br/>
 <h3 style="text-align:left">College Prep</h3>
<br/>
<p>Offered in Fall and Spring, our younger students discover their individual interests and abilities and connect with possible careers. We guide our high school students through the application process, scholarship opportunities, essays, and ACT prep.  This season we are visiting University of Louisville, Centre College, Hanover College and Northern KY University.</p>
<br/>
<br/>
<figure>
    <img src="~/img/slider/WKU visit.jpg" width="640" height="480" style="text-align:right">
    <figcaption>Our students toured Western Kentucky University</figcaption>
</figure>
<br/>
<br/>
<div class="container">
<h3 style="text-align:left">Careers</h3>
<br/>
<br/>
<figure>
    <img src="~/img/slider/Military Career.jpg" width="640" height="480" style="text-align:right"/>
    <figcaption>Jorge Pazmino, Military Admissions Officer at Sullivan University</figcaption>
</figure>
<br/>
<p>Mr. Pazmino inspired our students to appreciate their families and heritage, as he spoke about his experiences in the U.S. Army, his education, and his career.</p>
<br/>
</div>
<br/>
<br/>
<div class="container">
    <figure>
        <img src="~/img/slider/Education career.jpg" width="640" height="480" style="text-align:right" />
        <figcaption>Dr. Terri Rowland speaking to our students.</figcaption>
    </figure>
    <br />
    <p>Dr. Terri Rowland shared educational options available in higher education and how to make college affordable.</p>
</div>
<br/>
<br/>
<br/>
<div class="container">
    <figure>
        <img src="~/img/slider/GE career.jpg" width="640" height="480" style="text-align:right" />
        <figcaption>Our students visited the Kentucky Science Center. </figcaption>
    </figure>
    <br />
    <p>Thanks to a sponsorhip from GE, our students completed completed 90 minute labs about chemical reactions, ecosystems, and human DNA. </p>
    </div>