@model bool
@if (Model == true)
{
    @Html.Encode("Attended")
}
@if (Model == false)
{
    @Html.Encode("Absent")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
