@Model ReportDataViewModel
@{
    ViewBag.Title = "Report";
}
<br />
<br />
<br />
<br />
<br />
<h2>Reports</h2>

@if (Model != null)
{
    <div class="col-md-6">
        @Html.Partial("_StudentAttendanceListPartial", null,new } Model.StudentsThatAttended)
    </div>
    <div class="col-md-6">
        @Html.RenderPartial("_StudentAttendancePercentagePartial", Model.PercentageAttended)
    </div>
}